body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
}

.sidebar::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #0099FF;
  /* color of the scroll thumb */
  border-radius: 120px;
  /* roundness of the scroll thumb */
  border: 3px solid white;
  /* creates padding around scroll thumb */
}

.sidebar {
  width: 30vw;
  height: flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  overflow-y: scroll;
  padding-top: 20%;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
.rowImg {
  display: flex;
  flex-direction: row;
}
.rowTitle {
  display: flex;
  justify-content: right;
  margin-left: 10%;
  margin-bottom: 40%;

}

.alignTitles {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  width: 80%;
  margin-bottom: 12%;
}

.h1Admin {
  margin-bottom: 12%;
}

.rack {
  width: 7vw;
  height: 14vh;
  border-radius: 16px;
  background-color: #000000;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  transition: 200ms;
  cursor: pointer;
  transition-delay: 100ms;
}

.rack h1 {
  color: #FFFFFF;
}

.rowRacks {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8%;
}
.rack:hover {
  background-color: #0099FF;
  
}

.buttonSidebarConfig {
  width: 100%;
  height: 16vh;
  margin-bottom: 30%;
  border-radius: 16px;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  gap: 10%;
  transition: 200ms;
  cursor: pointer;
  transition-delay: 100ms;
}
.buttonSidebarConfig:hover {
  background-color:#0099FF;
  border-color: transparent;
}

.divButton {
  width: 100%;
  height: 16vh;
  margin-bottom: 6%;
}

.main::-webkit-scrollbar {
  width: 12px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #0099FF;
  border-radius: 120px;
  border: 3px solid white;
}

.main {
  width: 70vw;
  background-color: #F4F6F8;
  border-radius: 16px;
  overflow-y: scroll;
  padding-top: 5%;
  padding-left: 8%;
}

.card {
  margin-top: 4%;
  width: 28vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.rowCard {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.cardDashboard {
  margin-top: 5%;
  width: 58.5vw;
  height: 50vh;
  background: #FFFFFF;
  border: 2px solid rgba(50, 50, 50, 0.2);
  box-sizing: border-box;
  border-radius: 40px;
  margin-bottom: 2%;
}