.main {
    background-color: bisque;
    padding-top: 9%;
    width: 100%;
    height: flex;
    display: flex;
    flex-direction: row;
 }
 .sidebar {
     background-color: #FFFFFF;
     border-radius: 50px;
     width: 26vw;
     height: 110vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     

 }
 .imgUser {
    margin-top: 14%;
    margin-bottom: 3%;
 }
 .sidebar h2{
     font-size: 26px;
 }
 .row {
    height: 7vh;
    width: 90%;
    justify-content: flex-start;
    margin-top: 8%;
 }
 .row2 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 14%;
    
 }

 .button5 {
    font-family: 'Poppins', sans-serif;
    width: 4vw;
    height: 10vh;
    background: #0099FF;
    border-color: transparent;
    border-radius: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;

 }
 .button7 {
    height: 10%;
    background-color: transparent;
    border-color: transparent;
 }
 .dashboard {
    background-color: rebeccapurple;
    width: 74vw;
    height: 110vh;
}
 /*
.dash {
    width: 100%;
}
.dash1 {
    width: 40%;
    float: left;
}
.dash2 {
    width: 40%;
    float: left;
} */