body{
    background-image: url('background\ site.jpg');
    background-size: 35%;
    background-position-y:400px;
    background-position-x: right;
    background-repeat: no-repeat;
    margin: 0;
    
}

b {
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1{
    font-size: 40px;
    margin-left: 25%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h2{
    font-size: 40px;
    margin-left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
span{
 font-size: 30px;
 font-family:Verdana, Geneva, Tahoma, sans-serif
}
#container {
    width: 40%;
    float: left;
    margin-left: 15%;
}
#input_qnt_sala{
 width: 30%;
 height: 20px;
}
#input_metragem_sala{
    width: 30%;
    height: 20px;
}
#input_qnt_servidor{
    width: 30%;
    height:20px;
}
#input_localizacao{
    width: 30%;
    height: 20px;
}
#input_assinatura{
    width: 30%;
    height: 20px;
}
#resultadoOrcamento{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#borda{
    width: 300px;
    height: 95vh;
    float: left;
    background-color: #26b8b8;
    margin-top: 0;
}
#btn{
    width: 200px;
    height: 45px;
}